botbuilder-core==4.13.0
botframework-connector==4.13.0
botbuilder-schema==4.13.0
botbuilder-dialogs==4.13.0
botbuilder-ai==4.13.0
botbuilder-applicationinsights==4.13.0
botbuilder-integration-applicationinsights-aiohttp==4.13.0
azure-cognitiveservices-language-luis==0.2.0
msrest==0.6.10
datatypes-date-time>=1.0.0.a1
aiohttp==3.6.2
requests==2.23.0
pytest
click<=8.0.4
constantly<=15.1.0
cryptography<=3.4.8
datatypes-date-time<=1.0.0a2
datedelta<=1.4
decorator<=5.1.1
Django<=2.2.6
djangorestframework<=3.10.3
emoji<=1.6.3
Flask<=1.1.1
google-api-core<=2.7.3
google-auth<=2.6.6